main.main_1080 {
    max-width: 1080px;

    .container_vid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(425px, 1fr));
        gap: 5px;

        .vid_grid {
            display: flex;
        }

    }
}